body, html, #root, #app {
  font-family: sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

#matrix {
  align-items: center;
  background-color: #bbb;
  display: flex;
  flex-direction: column;
  height: 800px;
  justify-content: center;
  margin: auto;
  min-height: 800px;
  min-width: 800px;
  width: 800px;
}

.row {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 800px;
}

.cell {
  height: 8px;
  width: 8px;
}

#colorSelector {
  align-items: center;
  background-color: #bbb;
  display: flex;
  flex-direction: row;
  height: 80px;
  justify-content: center;
  margin: 0 0 15px 0;
  top: 0;
  width: 100%;
}

.color-swatch {
  border: 1px solid #999;
  height: 50px;
  margin: 0 2%;
  width: 50px;
}
